@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-mcb-clay: #C69C85;
  --color-mcb-clay-light: #DBC4B5;
  --color-mcb-sage: #94A385;
  --color-mcb-sage-dark: #748B69;
  --color-mcb-sand: #F3EFE6;
  --color-mcb-terracotta: #B26E2D;
  --color-mcb-charcoal: #2D2D2D;
  --color-mcb-paper: #F9F8F6;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-mcb-paper);
  color: var(--color-mcb-charcoal);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
